<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world everyone</h1>
    <h2>Nice to meet you guys</h2>
    <h3>My name is {{name}} </h3>
    <h3>My tech stack is {{tech_stack}}</h3>
    <h3>My role is {{role}}</h3>
    <h3>Person List where id <= 10</h3>
    <ul>
        {% for person in person_list %}
            <li>{{ person.fname }}</li>
        {% endfor %}
    </ul>
    <h3>Top 10 oldest person</h3>
    {% if show_oldest_person %}
        <ul>
            {% for person in oldest_person_list %}
                <li>{{ person.fname }} - {{ person.age }} </li>
            {% endfor %}
        </ul>
    
    {% endif %}
  
    {% comment %} 
    <ul>
        <li></li>
        <li></li>
    </ul> 
    {% endcomment %}
</body>
</html>